---
version: '3'

tasks:
  local:
    deps: [common:python-requirements]
    desc: Run the Ansible play on the local machine
    cmds:
      - cp tests/inventory inventory
      - if [ ! -f main.yml.bak ]; then mv main.yml main.yml.bak; fi
      - cp tests/test.yml main.yml
      - if [ ! -f ansible.cfg.bak ]; then mv ansible.cfg ansible.cfg.bak; fi
      - cp tests/ansible.cfg ansible.cfg
      - ansible-playbook --ask-sudo-pass main.yml
      - mv main.yml.bak main.yml
      - mv ansible.cfg.bak ansible.cfg
    preconditions:
      - sh: typeof ansible &> /dev/null
        msg: 'Ansible is not available. Install the dependencies by running `task common:requirements`.'

  molecule-desktop:
    deps: [common:python-requirements]
    desc: Provisions a desktop VirtualBox VM and then runs a Molecule test
    summary: |
      This task opens a VM with an operating system of your choosing and then tests
      the project's play against it. It then leaves the VM open for inspection.

      Example usage:
      > task test:molecule -- archlinux

      Available scenarios:
      archlinux, centos, debian, fedora, macos, ubuntu, windows
    cmds:
      - export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
      - molecule converge -s {{.CLI_ARGS}}-desktop

  molecule-docker:
    deps: [common:python-requirements]
    desc: Performs a full test, including a test for idempotency, on all available Linux systems using Docker
    summary: |
      This task runs the project's Molecule tests using Docker. It only tests against
      Linux systems. If the role/project contains any steps that use the
      community.general.snap plugin, then only the operating systems that support that
      plugin with Docker are tested.

      Example usage:
      > task test:molecule-docker
    vars:
      SNAP_REFS:
        sh: grep -Ril \"community.general.snap:\" ./tasks
    cmds:
      - if [ "$SNAP_REFS" ]; then molecule test -s docker-snap; else molecule test -s docker; fi

  molecule-e2e:
    deps: [common:python-requirements]
    desc: Runs a full E2E Molecule test for all supported operating systems
    summary: |
      This task uses VirtualBox to run tests for all of our supported operating
      systems in parallel. It is very RAM intensive so, if you want to run this,
      your computer should have at least 32GB of RAM.

      Run the full test:
      > task test:molecule-e2e

      Generate the compatibility matrix used in the README.md:
      > task test:molecule-e2e -- matrix
    env:
      # yamllint disable-line rule:truthy
      OBJC_DISABLE_INITIALIZE_FORK_SAFETY: YES
    cmds:
      - |
        if [ "{{.CLI_ARGS}}" ]; then
          if [ "{{.CLI_ARGS}}" == 'matrix']; then
            PY_COLORS=0 molecule test > molecule-test-output.txt
          fi
        else
          molecule test
        fi

    vagrant:
      desc: Runs the playbook using Vagrant
      summary: |
        Using Vagrant, you can pick and choose which operating system and
        virtualization provider you want to use to test the playbook.

        Possible virtualization providers:
        hyperv, libvirt, parallels, virtualbox, vmware_fusion, vmware_workstation

        Possible operating systems:
        archlinux, centos, debian, fedora, macos, ubuntu, windows

        Example:
        > task test:vagrant -- --provider=vmware_workstation windows
      cmds:
        - vagrant up {{.CLI_ARGS}}
