---
version: '3'

tasks:
  local:
    deps:
      - :ansible:symlink
      - :common:python-requirements
    desc: Run the Ansible play on the local machine
    summary: |
      $ Run the Ansible play on the local machine

      This task will use the inventory stored in `tests/inventory`, the playbook
      file stored in `tests/test.yml`, and the Ansible configuration file stored in
      `tests/ansible.cfg` to run the play. At the beginning of the play, you will
      be prompted for the sudo password.
    cmds:
      - true info "Running the Ansible play locally"
      - cp tests/inventory inventory
      - if [ ! -f main.yml.bak ]; then cp main.yml main.yml.bak; fi
      - cp tests/test.yml main.yml
      - if [ ! -f ansible.cfg.bak ]; then cp ansible.cfg ansible.cfg.bak; fi
      - cp tests/ansible.cfg ansible.cfg
      - ansible-playbook --ask-sudo-pass main.yml
      - |
        if [ $? -eq 0 ]; then
          true success "Local testing of the Ansible play was successful!"
        else
          true error "Finished local testing of the Ansible play with error(s)"
        fi
      - mv main.yml.bak main.yml
      - mv ansible.cfg.bak ansible.cfg
    preconditions:
      - sh: typeof ansible &> /dev/null
        msg: 'Ansible is not available. Install the dependencies by running `task common:requirements`.'

  molecule-desktop-prompt:
    deps:
      - :software:node
    env:
      OPERATING_SYSTEM:
        sh: node .common/scripts/prompts/molecule-desktop.js
    cmds:
      - |
        if [ -z "{{.CLI_ARGS}}" ] && [ ! -z "$OPERATING_SYSTEM" ]; then
          molecule converge -s "${OPERATING_SYSTEM}-desktop"
        fi
    status:
      - '[[ ! -z "{{.CLI_ARGS}}" ]]'

  molecule-desktop:
    deps:
      - :common:python-requirements
      - :software:virtualbox
    desc: Provisions a desktop VirtualBox VM and then runs a Molecule test
    summary: |
      $ Provision a desktop VirtualBox VM and then run a Molecule test

      This task opens a VM with an operating system of your choosing and then tests
      the project's play against it. It then leaves the VM open for inspection.

      Example with interactive prompt for VM type:
      > task test:molecule

      Example usage bypassing prompt:
      > task test:molecule -- archlinux

      Available scenarios:
        * archlinux    * fedora    * windows
        * centos       * macos
        * debian       * ubuntu
    cmds:
      - export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
      - |
        if [ ! -z "{{.CLI_ARGS}}" ]; then
          true info "The VM used for this test will be left open for inspection after the Molecule test completes."
          molecule converge -s {{.CLI_ARGS}}-desktop
        fi
      - task: molecule-desktop-prompt

  molecule-docker:
    deps:
      - :common:python-requirements
      - :software:docker
    desc: Performs a full test, including a test for idempotency, on all available Linux systems using Docker
    summary: |
      $ Perform a full test, including an idempotency test, on all available Linux systems using Docker

      This task runs the project's Molecule tests using Docker. It only tests against
      Linux systems. If the role/project contains any steps that use the
      community.general.snap plugin, then only the operating systems that support that
      plugin with Docker are tested.

      Example usage:
      > task test:molecule-docker

      Save test results for use with auto-generating compatibility chart:
      > task test:molecule-docker -- matrix
    vars:
      MOLECULE_DATE:
        sh: date '+%Y-%m-%d'
      SNAP_REFS:
        sh: grep -Ril 'community.general.snap:' ./tasks || true
    cmds:
      - |
        SCENARIO=docker
        if [ ! -z "{{.SNAP_REFS}}" ]; then
          true warn "Degrading test scenario to 'docker-snap' which only tests Docker containers that support 'snap' inside Docker containers."
          SCENARIO=docker-snap
        fi
        if [ ! -z "{{.CLI_ARGS}}" ]; then
          if [ "{{.CLI_ARGS}}" == 'matrix' ]; then
            mkdir -p molecule/.results
            true info "Storing Docker test results to 'molecule/.results/{{.MOLECULE_DATE}}-$SCENARIO.txt'"
            PY_COLORS=0 molecule test -s "$SCENARIO" > "molecule/.results/{{.MOLECULE_DATE}}-$SCENARIO.txt"
          else
            true error "Invalid CLI arguments passed in. See 'task test:molecule-docker --summary'."
          fi
        else
          molecule test -s "$SCENARIO"
        fi

  molecule-e2e:
    deps:
      - :common:python-requirements
      - :software:virtualbox
    desc: Runs a full E2E Molecule test for all supported operating systems
    summary: |
      $ Run a full E2E Molecule test for all supported operating systems

      This task uses VirtualBox to run tests for all of our supported operating
      systems in parallel. It is very RAM intensive so, if you want to run this,
      your computer should have at least 32GB of RAM.

      Run the full test:
      > task test:molecule-e2e

      Generate the compatibility matrix used in the README.md:
      > task test:molecule-e2e -- matrix
    env:
      # yamllint disable-line rule:truthy
      OBJC_DISABLE_INITIALIZE_FORK_SAFETY: YES
    vars:
      MOLECULE_DATE:
        sh: date '+%Y-%m-%d'
    cmds:
      - |
        if [ "{{.CLI_ARGS}}" ]; then
          if [ "{{.CLI_ARGS}}" == 'matrix']; then
            mkdir -p molecule/.results
            true info "Storing full E2E test results to 'molecule/.results/{{.MOLECULE_DATE}}-default.txt', this can take awhile.."
            PY_COLORS=0 molecule test > molecule/.results/{{.MOLECULE_DATE}}-default.txt
          else
            true error "Invalid CLI arguments passed in. See 'task test:molecule-e2e --summary'."
        else
          true info "This is a full E2E test and can take awhile.."
          molecule test
        fi

    vagrant-prompt:
      deps:
        - :software:node
      env:
        VAGRANT_COMMAND:
          sh: node .common/scripts/prompts/vagrant-up.js
      cmds:
        - |
          if [ -z "{{.CLI_ARGS}}" ] && [ ! -z "$VAGRANT_COMMAND" ]; then
            vagrant up "$VAGRANT_COMMAND"
          fi
      status:
        - '[[ ! -z "{{.CLI_ARGS}}" ]]'

    vagrant:
      deps:
        - :common:python-requirements
        - :software:vagrant
      desc: Runs the playbook using Vagrant
      summary: |
        $ Run the playbook using Vagrant

        Using Vagrant, you can pick and choose which operating system and
        virtualization provider you want to use to test the playbook.

        Possible virtualization providers:
          * hyperv       * virtualbox
          * libvirt      * vmware_fusion
          * parallels    * vmware_workstation

        Possible operating systems:
          * archlinux    * fedora    * windows
          * centos       * macos
          * debian       * ubuntu

        Example opening interactive prompt:
        > task test:vagrant

        Example bypassing interactive prompt:
        > task test:vagrant -- --provider=vmware_workstation windows
      cmds:
        - |
          if [ ! -z "{{.CLI_ARGS}}" ]; then
            vagrant up {{.CLI_ARGS}}
          fi
        - task: vagrant-prompt
